@{
    ViewBag.Title = "Designs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using FashionWebsite.ViewModels
@model IEnumerable<DesignViewModels>
<style>
    body {
        margin: 0;
    }

    .container {
        padding: 0;
    }

    .hero__text {
        margin-left: 200px
    }

</style>

<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="filter__controls">
                    <li class="active">My Designs</li>
                </ul>
            </div>
        </div>
        <p class="lead">
            Explore the designs made with passion by Fashionista.
        </p>
        <div class="row gx-4 mt-3">
            @foreach (var design in Model)
            {
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="@Url.Content(design.Image)">
                        </div>
                        <div class="">
                            <h6>@design.Name</h6>
                            <h6><a class="red-hover" asp-action="Page" asp-controller="Fashionista" asp-route-userId="@design.FashionistaId">By: @design.FashionistaName</a></h6>
                            <a class="btn btn-outline-dark w-100" asp-action="ViewDesign" asp-controller="Design" asp-route-id="@design.Id" class="add-cart">View</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>



