@using FashionWebsite.ViewModels
@model DesignPageViewModel


<div class="max-width-700 mx-auto">
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">@Model.DesignName</h5>
            <p>
                By: @Model.FashionistaName
            </p>
            <p class="card-text">
                @Model.Description
            </p>
            <p class="card-text no-margin"><small class="text-body-secondary">Date Uploaded: @Model.DateAdded.ToString("MMMM dd, yyyy")</small></p>
            <p class="card-text no-margin"><small class="text-body-secondary">Declared Price: @Model.Price.ToString("C")</small></p>
            <p class="card-text no-margin"><small class="text-body-secondary"> @Model.UpVotes Upvotes</small></p>
            <div class="display-between">
                @if (Model.HasUpvoted && User.Identity.IsAuthenticated)
                {
                    <span>Downvote Design <a asp-action="UpvoteDesign" asp-controller="Design" asp-route-id="@Model.DesignId" asp-route-flag="0"><img src="~/img/icon/heart_filled.png" alt=""></a></span>
                }
                else if (!Model.HasUpvoted && User.Identity.IsAuthenticated)
                {
                    <span>Upvote Design <a asp-action="UpvoteDesign" asp-controller="Design" asp-route-id="@Model.DesignId" asp-route-flag="1"><img src="~/img/icon/heart.png" alt=""></a></span>
                }   
                
                @if (Model.IsOwner)
                {
                    <a asp-action="EditDesign" asp-controller="Design" asp-route-id="@Model.DesignId" class="btn btn-light btn-outline-dark">Edit Design</a>
                }
            </div>
            
        </div>
    </div>
    <img src="@Url.Content(Model.DesignImage)" class="card-img-bottom">


    <div class="mt-3 mb-3">
        <h4>Comments</h4>

        @if (User.Identity.IsAuthenticated)
        {
            <div class="card p-2 mt-3 my-3">
                <h6 class="card-subtitle mb-2 text-body-secondary">Write a comment</h6>
                <form asp-action="CommentDesign" asp-controller="Design" method="post">
                    <input type="hidden" class="form-control mb-2" name="desingId" value="@Model.DesignId" aria-describedby="addon-wrapping">
                    <input type="text" class="form-control mb-2" name="title" placeholder="Title" aria-label="Title" aria-describedby="addon-wrapping" required>
                    <textarea class="form-control" placeholder="Leave a comment" name="comment" style="height: 100px" required></textarea>
                    <div class="d-flex justify-content-end mt-2">
                        <button type="submit" class="btn btn-outline-dark">Submit</button>
                    </div>
                </form>
            </div>
        }

        @foreach (var comment in Model.Comments)
        {
            <div class="card p-2 mt-3 my-3">
                <h5 class="card-title">@comment.Title</h5>
                <p class="card-text mb-2 text-body-secondary" style="margin-bottom:0 !important"><small><strong>@comment.User.FirstName @comment.User.LastName</strong> Commented</small></p>
                <p class="card-text mb-2 text-body-secondary" style="margin-top:0 !important"><smalL>@comment.CreatedDate.ToString("MMMM dd, yyyy hh:mm tt")</smalL></p>
                <h6 class="card-subtitle">
                    @comment.Description
                </h6>
            </div>
        }

        @if (!Model.Comments.Any())
        {
            <h5>Be the first to comment. Make a topic or start a discussion.</h5>
        }
    </div>
</div>

<style>
    .max-width-700 {
        max-width: 700px;
    }

    .no-margin{
        margin:0 !important;
    }

    .display-between {
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
</style>